<div class="container text-center">
  <h2 class="heading cursiveFont">Wedding Details</h2>
  <img src="https://lh3.googleusercontent.com/eQ9RWBN8OMNYotT3OXy_62vAHUBuK_qaGcWzqmpf8Ub_hpA5ojxYV23VohJrhSl311G7Tc9DZCezOgPTpZCFEN4RD_GWp_QdO-B-7PmoB5p92n0EwoLhrqGfxh2XtgRWIeFesi0mlUExNYgRSrU_cVSxh4wFFB12pggeW0FZ7Kle5ufFqYfDK04deIoPuByIc1uOg1hUKIHpk_NEDRKHQZncqTVPVolfqbrllyEOW4KZC5I9pTPcNPwtp1x7KE5axC7_jDZ0RcyfMK-rSH96v5KaIySRitt-pC5o1gY68xfmgkEULIaZxw97Yq0jBOfBTNqDmi-1fZlSy690rUhtfMYOL7SdQudk646rSZV5Spcob1RoexO7CFeC4gdKYFSOJ-loe1o7dtshRBverCOcNDe13GTINO3_6NUUvDWhyYkImXcCd3zfacMNz-Tp4jUHUazcdHvHsn1dp2oafOpNAJLT8_uwzI4WP3Rb_onWVxLomLMMar15P3hw0uN-XjsvqsURFMQHdPkcFEvIs4lmpuMJcsJ2nVezkRC2QzvXBIexNb1SfC5S1NsFDd0jsDPsWxCeouFe1Z3RVzp28OiTPsdKb8igIOvBaHu4Aw0zvyRJZXTunYoe_VQizjyRm9f0B4iomkcVRDxcmLdshxQhxVNLA0Lbs33CDpp270KQuHWSS3Rll5iqJum5ylU8iVGyo7NbKuVDnmJYl6xWZgUi5kva=w600-h400-no" alt="Ardenwood">
</div>

<div class="container" style="padding-bottom:2rem">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h4 class="secondaryHeading capsFont" style="margin-top:0">Location</h4>
      <p>Ardenwood Historic Farm</p>
      <p>34600 Ardenwood Blvd., Fremont, CA 94555</p>

      <h4 class="secondaryHeading capsFont">Date/Time</h4>
      <p>Friday, October 4, 2019</p>
      <p>Guest Arrival: 5:00PM</p>
      
      <h4 class="secondaryHeading capsFont">Itenerary</h4>
      <p>Ceremony Begins: 5:30PM</p>
      <p>Appetizers: 6:00PM</p>
      <p>End of Reception: 11:00PM</p>
    </div>
    
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5189.482708008726!2d-122.06314572747766!3d37.5510823096209!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fbe4862ee361b%3A0xe930cd66d1fc164f!2sArdenwood+Historic+Farm!5e0!3m2!1sen!2sus!4v1550802690234" 
      width="60%"
      height="400vh" frameborder="0" style="border:0"
      allowfullscreen
      class="col-lg-6 col-md-6 col-md-12"></iframe>
  </div>
</div>
