<div class="text-center banner">
  <h1>Lisa Ryland</h1>
  <h3>&</h3>
  <h1>Jason McClure</h1>
</div>

<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mx-auto">
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/" class="nav-link">Home</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/details" class="nav-link">Details</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/rsvp" class="nav-link">RSVP</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/photos" class="nav-link">Photos</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/registry" class="nav-link">Gift Registry</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/travel" class="nav-link">Travel</a>
        </li>
      </ul>
    </div>

</nav>

<router-outlet></router-outlet>
