<div class="wrapper">
  <div class="mainContents">
    <div class="text-center banner">
      <img src="https://lh3.googleusercontent.com/gaoB4kQWm1lWOMgciEXkcQIOCxRof17An9QKlGcysF0_BWipSE9RukntV3D16Or_j3R82YQDQf1ZCBoMe8Cfo01P2cbNtzg4OAbY72U9ybN5rZFjFONnjW1V6CH9otnvNk0N2GUjyy2VOrUOzbcoyu__oyldsdgw6w81dWrxZ_Q2U2g1oL0BbrvOVPDy5FYutIINqXjIwzrfDmXuUH43uzKhw7Eg1kP0whBnRe0nmm_p8z4dCilGcucUbnh6zb_XHOE_nEkeoom6-9cSQomdD6AjsG4QyK0cZ8hqT1hsnWV4U16lmF5kB-9LU1FHMl2rur8ch-ecyMRR311O-piXARFpnkTMrKCmofDZlmyV8VAubfPKaRf0AO06HSHnQqQDjwQ09CpyU3TOK2tqGqWoN07b3KkVoFtzE0DjqQi-8ZrKR1tLC-oICaDPVIaMKlGWzZqDjYcCgIa-Wrc115tZ_gNGahQO7n_CDwSOhBwHEijMXYz4wpIRA9flZ4bCUMWCUs3Ma9FpTM23aBI9I7ihPUKaCVNB3YxWQydeTh--6u36yeprztVp0WYFnyhFId7upB6VtGYkW6Q3THsQ8_J50UJCXIDdy24mYgkWBHGT4DegVio6F0lqk-p8D6mz9BDwY2Smt48V0pQxFtMTD-uT-2ebnaBQC9pvRROJnXBgMjThwRiXJzYBuwx1kmXw58ua9sOJn2Ejfm0pPu1JRN_KkGbK=w1329-h398-no" alt="logo">
    </div>

    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav mx-auto">
            <li routerLinkActive="active" class="nav-item">
              <a routerLink="/home" class="nav-link">Home</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
              <a routerLink="/details" class="nav-link">Details</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
              <a routerLink="/rsvp" class="nav-link">RSVP</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
              <a routerLink="/photos" class="nav-link">Photos</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
              <a routerLink="/registry" class="nav-link">Gift Registry</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
              <a routerLink="/travel" class="nav-link">Travel</a>
            </li>
          </ul>
        </div>

    </nav>

    <router-outlet></router-outlet>

    <div id="footer">
      <div class="inner">
        <img 
        src="https://lh3.googleusercontent.com/M7_nH3TZTk7bkt4rSGWt3l7MRUR0qPtshn6FbX5r-5krbMeEcUi_aiqpsKn7O0B-mufK6Y8EHnJt30xkyJOQE-qB6xe8vikjue1oPfRizxTTipjtEV3E-_6TnfRQ3BpNju_qK5TjX9PTTqLORtI90ixbnQ_MDwbhFNPabtJgMx2hl5jfUJ2cmfoucFklCqGb-lD9zzxChVjBUjq5kyRFqo-U1IpS5n3cxSyaJyCmxRXbdrd7fU4P74mYUAdbmX0X-zZOShmPAYw6_PTjnv5gUMfA8erHVu5RO19dyZQ0rTNiNjsdMetP4ZeoZQIVWZoQqEIkjLUdpD4dis-LRtjxpFOgnx-I0obtUfyEluMn5b7x1WIIpPRGsAM8smJitfsdGYl1lUuuR3IiLaNcT4IalGu2Ja9w0vVqVxpNxgmRRWqZMXKAq7FsQC2UecRMLUyZNyWv8gWXLvv2zvYdSNELuYRufZYCNbVl3ifAiIUuP1NzlxNTLGc9e3aY-jmpoHpe4ybU1Ach7gaq-cPYbPo5sdoJfywiUlBQJZgIfThXmS9TUwDKAzQUQViEoep0pqEzZgoGZQQnA8EOqROZ6De8IzCHZDeXBK7jFJkFUKKCsbIqWfWaRcvR6tQ1T0RyYFzIk836srwl0Wup-qKiNE6LsnXKfxBPzDawlrfYBowz3jZCA_Jyka5umax2a2ECx_TJ71MoyPt5vLuiMyMtdxQ-XiIT=s200-no" 
        alt="Lisa & Jason"
        style="border:none;">
        <a href="https://www.freepik.com/free-photos-vectors/background" target="_blank">Background photo created by rawpixel.com - www.freepik.com</a>
        <div class="text-center">&copy; 2019 by <a href="http://lkikui.github.io" target="_blank">Lisa Ryland</a></div>
      </div>
    </div>
    
  </div>

</div>

