/* container containing white box and lace */
div.wrapper {
    margin: 0 auto;
    width: 80%;
    position: relative;
    border: solid transparent;
}

/* left lace border */
div.wrapper:before {
    content: " ";
    background-image: url(https://lh3.googleusercontent.com/96_1-6pZIPKEsk0D-cZgLAj3GwrofXhxBU2x_9jm7yYJPFlrYzBVZWUfdX8L0igqBgF77QdqBr_jdnJKV_SHGV7IRRfqAX0FxNQok9rf3W6CrBUT_q2YkjBTmjcPW_7MD7umv1roD1W801lnxp3KcoKIb_frKuB1pSlLDfEXw2J2-kpFoBgbpdF7i7I5vvRlM6qX7qDpVWuwW-KPvvcocZJRHBftmDpwQcTBEwITy-Je81vL2TaGAHT5k0LwsRpfYg1Flcx7dN6fik4rgR2l8wZbRHOP_wbupIcznnOjBoVTbC3PMhBwEkKOIOs_OJ7C3QkQwlKIq5kTvhesmqdo8_IxxDd-zU_D3GyKZ0Gu4swSjygk6fLPYvYq9G_fbHSLkghs2XmH3BI92hNVLxW92C-IKqpeHqKXBEXw0mL9Arevgj6qqeSqm5dyikxE18mdURwJgQemuiq142K4cWl_Yrngs8ziqKKcx9P1BeEA6Zn4gKzIz7OGtP8vNkl4zxjtVHBePJlNY4INh28rDjYGbfjLrJtowmsWWPl5U1lNYwcuf3YAzQgXGFsiGUxdwGdsJV3J_3qq_6V2xtETMiIrGnvd-MmAGBWQaC1iqjLxQNjnVDZHuAmZ0O1W45Q4ouRcP45QBRY0-JvIMfciilD5d9R0cV4OrDg3XWNNzNAhd2IHyKBbGHSHxBEPmHdxiK9ebjqsPvrY1RLkqQhCRb6PDi8H=w44-h320-no);
    position: absolute;
    width: 43px;
    height: 100%;
    top: 0;
}

/* right lace border */
div.wrapper:after {
    content: " ";
    background-image: url(https://lh3.googleusercontent.com/96_1-6pZIPKEsk0D-cZgLAj3GwrofXhxBU2x_9jm7yYJPFlrYzBVZWUfdX8L0igqBgF77QdqBr_jdnJKV_SHGV7IRRfqAX0FxNQok9rf3W6CrBUT_q2YkjBTmjcPW_7MD7umv1roD1W801lnxp3KcoKIb_frKuB1pSlLDfEXw2J2-kpFoBgbpdF7i7I5vvRlM6qX7qDpVWuwW-KPvvcocZJRHBftmDpwQcTBEwITy-Je81vL2TaGAHT5k0LwsRpfYg1Flcx7dN6fik4rgR2l8wZbRHOP_wbupIcznnOjBoVTbC3PMhBwEkKOIOs_OJ7C3QkQwlKIq5kTvhesmqdo8_IxxDd-zU_D3GyKZ0Gu4swSjygk6fLPYvYq9G_fbHSLkghs2XmH3BI92hNVLxW92C-IKqpeHqKXBEXw0mL9Arevgj6qqeSqm5dyikxE18mdURwJgQemuiq142K4cWl_Yrngs8ziqKKcx9P1BeEA6Zn4gKzIz7OGtP8vNkl4zxjtVHBePJlNY4INh28rDjYGbfjLrJtowmsWWPl5U1lNYwcuf3YAzQgXGFsiGUxdwGdsJV3J_3qq_6V2xtETMiIrGnvd-MmAGBWQaC1iqjLxQNjnVDZHuAmZ0O1W45Q4ouRcP45QBRY0-JvIMfciilD5d9R0cV4OrDg3XWNNzNAhd2IHyKBbGHSHxBEPmHdxiK9ebjqsPvrY1RLkqQhCRb6PDi8H=w44-h320-no);
    position: absolute;
    width: 43px;
    height: 100%;
    top: 0;
    right: 0;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* white container with contents */
div.mainContents {
    margin-top: 0;
    background-color: white;
    width: 75%;
    margin: 0 auto;
    height: 100%;
}

div.banner {
    padding: 15px;
}

div.banner > img {
    width: 50%;
}

/* navbar element */
nav.navbar-light {
    margin-bottom: 2rem;
}

/* ribbon */
nav.navbar-light:after, nav.navbar-light:before {
    content: " ";
    border: 1.75em solid #FFEDEF;
}

nav.navbar-light:after {
    border-right-color: transparent;
}

nav.navbar-light:before {
    border-left-color: transparent;
}

/* inner container for navlinks */
div#navbar {
    background-color: #FFEDEF;
    height: 3.5em;
}

div#navbar > ul > li > a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    overflow: hidden;
}

div#navbar > ul > li > a:hover {
    color: #000 !important;
}

.navbar-nav .active > .nav-link {
    color: #fff !important;
}

div#navbar > ul > li {
    padding: 0 0.20rem;
}

div#navbar > ul > li > a.nav-link {
    text-transform: uppercase;
}

/* page footer */
div#footer {
    margin-top: 5em;
    background-color: #FFEDEF;
    box-shadow: 0px 1px 3px rgba(0,0,0,.2);
    padding: 10px 0;
}

div#footer > div.inner {
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
}

div.inner img {
    border: none;
    display: block;
    margin: 0 auto;
}