<div class="text-center banner">
  <h1>Lisa Ryland</h1>
  <h3>&</h3>
  <h1>Jason McClure</h1>
</div>

<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mx-auto">
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/home" class="nav-link">Home</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/details" class="nav-link">Details</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/rsvp" class="nav-link">RSVP</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/photos" class="nav-link">Photos</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/registry" class="nav-link">Gift Registry</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/travel" class="nav-link">Travel</a>
        </li>
      </ul>
    </div>

</nav>

<router-outlet></router-outlet>

<div id="footer" class="container">
  <img 
  src="https://lh3.googleusercontent.com/M7_nH3TZTk7bkt4rSGWt3l7MRUR0qPtshn6FbX5r-5krbMeEcUi_aiqpsKn7O0B-mufK6Y8EHnJt30xkyJOQE-qB6xe8vikjue1oPfRizxTTipjtEV3E-_6TnfRQ3BpNju_qK5TjX9PTTqLORtI90ixbnQ_MDwbhFNPabtJgMx2hl5jfUJ2cmfoucFklCqGb-lD9zzxChVjBUjq5kyRFqo-U1IpS5n3cxSyaJyCmxRXbdrd7fU4P74mYUAdbmX0X-zZOShmPAYw6_PTjnv5gUMfA8erHVu5RO19dyZQ0rTNiNjsdMetP4ZeoZQIVWZoQqEIkjLUdpD4dis-LRtjxpFOgnx-I0obtUfyEluMn5b7x1WIIpPRGsAM8smJitfsdGYl1lUuuR3IiLaNcT4IalGu2Ja9w0vVqVxpNxgmRRWqZMXKAq7FsQC2UecRMLUyZNyWv8gWXLvv2zvYdSNELuYRufZYCNbVl3ifAiIUuP1NzlxNTLGc9e3aY-jmpoHpe4ybU1Ach7gaq-cPYbPo5sdoJfywiUlBQJZgIfThXmS9TUwDKAzQUQViEoep0pqEzZgoGZQQnA8EOqROZ6De8IzCHZDeXBK7jFJkFUKKCsbIqWfWaRcvR6tQ1T0RyYFzIk836srwl0Wup-qKiNE6LsnXKfxBPzDawlrfYBowz3jZCA_Jyka5umax2a2ECx_TJ71MoyPt5vLuiMyMtdxQ-XiIT=s200-no" 
  alt="Lisa & Jason"
  style="border:none;">
  <div class="text-center">&copy; 2019 by <a href="http://lkikui.github.io" target="_blank">Lisa Ryland</a></div>
</div>
