div.homeComponentMain {
    padding: 16px;
}

img.mainPhoto {
    margin-bottom: 40px;
}

img.mainPhoto, img.proposalSpotPhoto {
    width: 100%;
}

area {
    border: 3px solid white;
}

area:hover {
    cursor: pointer;
}

@media (max-width: 767px) {
    img.graduationPhoto {
        width: 100%;
    }
}