<div class="container">
    
    <div class="row">
        <div class="col text-center">
            <h2 class="capsFont">RSVP</h2>
            <h3 class="cursiveFont">The Details</h3>
            <p>Friday, October 4, 2019</p>
            <p>5:00 PM</p>
          
            <h3 class="cursiveFont">Ceremony & Reception</h3>
            <p>Ardenwood Historic Farm</p>
            <p>34600 Ardenwood Blvd., Fremont, CA 94555</p>
            <a routerLink="/details"><button class="btn btn-info">More Details</button></a>
          </div>
        <div class="col">
          <form id="regForm" action="">

              <h1>Register:</h1>
              
              <!-- One "tab" for each step in the form: -->
              <div class="tab">
                <p>We hope you can join us!</p>
                <p>Please enter your name below.</p>
                <p><input placeholder="First Name" oninput="this.className = ''"></p>
                <p><input placeholder="Last Name" oninput="this.className = ''"></p>
              </div>
              
              <div class="tab">
                <p>Guest 1 of x:</p>
                <p>Lisa Ryland</p>

                <strong><p>Wedding Ceremony</p></strong>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-secondary">Accept</button>
                  <button type="button" class="btn btn-secondary">Decline</button>
                </div>

                <strong><p>Reception</p></strong>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-secondary">Accept</button>
                  <button type="button" class="btn btn-secondary">Decline</button>
                </div>
              </div>
              
              <div class="tab">Birthday:
                <p><input placeholder="dd" oninput="this.className = ''"></p>
                <p><input placeholder="mm" oninput="this.className = ''"></p>
                <p><input placeholder="yyyy" oninput="this.className = ''"></p>
              </div>
              
              <div class="tab">Login Info:
                <p><input placeholder="Username..." oninput="this.className = ''"></p>
                <p><input placeholder="Password..." oninput="this.className = ''"></p>
              </div>
              
              <div style="overflow:auto;">
                <div style="float:right;">
                  <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                  <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                </div>
              </div>
              
              <!-- Circles which indicates the steps of the form: -->
              <div style="text-align:center;margin-top:40px;">
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
              </div>
              
          </form>
        </div>
      </div>
</div>
