<div class="container text-center">
  <h2 class="heading cursiveFont">Gift Registry</h2>

  <p>Your love, laughter and company on our wedding day is the greatest gift of all. </p>
  <p>However, should you wish to help us celebrate with a gift, you can find what you like on the registries below:</p>
  <p>Otherwise a cash gift of any amount will also be acceptable.</p>

  <h4 class="secondaryHeading">Amazon</h4>
  <p>Search for our names or click the following link:</p>
  <a href="https://www.amazon.com/wedding/jason-mcclure-lisa-ryland-fremont-october-2019/registry/23IY8634KTY4V" target="_blank"><button class="btn btn-burgundy">View Registry</button></a>
</div>
