div.container > div.row > div.col > img {
    width: 100%;
    margin-bottom: 10px !important;
    border: 0 !important;
}

img:hover {
    cursor: pointer;
}

#photoModal {
    padding: 0 !important;
    margin: 0;
    background-color: rgba(0,0,0,0.5);
}

#photoModal img {
    border: 0;
    padding: 0;
    margin: 0;
}

.modal-backdrop {
    opacity: 0.8 !important;
}

.close {
    font-size: 2.5rem;
    font-weight: 125;
    line-height: 1;
    color: #c3c3c3;
    text-shadow: none;
    opacity: 1;
}

.close:hover {
    color: white;
}

a.carousel-control-prev, a.carousel-control-next {
    z-index: -1;
}

div.modal-dialog.modal-dialog-centered {
    padding: 0;
    width: 100%;
    height: 100%;
}

div.modal-content.carousel-inner {
    width: 100%;
    height: 100%;
}